<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mybatis.mapper.EntityMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
        insert into entity(id, name, gender)
        VALUES (#{id}, #{name}, #{gender})
    </insert>
    <update id="updateById">
        update entity
        set name=#{name},
            gender=#{gender},
            money=#{money}
        where id = #{id}
          and is_delete = 0
    </update>
    <update id="deleteById" parameterType="int">
        update entity
        set is_delete=1
        where id = #{id}
          and is_delete = 0
    </update>
    <delete id="delete" parameterType="int">
        delete
        from entity
        where id = #{id}
    </delete>
    <select id="getById" parameterType="int" resultType="com.demo.mybatis.entity.Entity">
        select *
        from entity
        where id = #{id}
          and is_delete = 0
    </select>
    <select id="getList" resultType="com.demo.mybatis.entity.Entity">
        select *
        from entity
        where is_delete = 0
    </select>
</mapper>